{% extends "Blog/base.html" %}
{%block content %}
<h3 id="lmha-crisis">LMHA Mental Health Crisis Numbers</h3>
<table class="table table-bordered">
	<thead class="thead-dark"><tr><th  scope="col" data-tablesaw-priority="persist">LMHA Name</th>
			<th scope="col">Crisis Number</th>
			<th scope="col">Counties Served</th>
		</tr></thead>

	<tbody><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">ACCESS</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-621-1693</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Anderson and Cherokee</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Andrews Center Behavioral Healthcare System</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-934-2131</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Henderson, Rains, Smith, Van Zandt and Wood</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Austin Travis County Integral Care</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">512-472-4357</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Travis</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Betty Hardwick Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-758-3344</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Callahan, Jones, Shackleford, Stephens and Taylor</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Bluebonnet Trails Community Services</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-841-1255</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bastrop, Burnet, Caldwell, Fayette, Gonzales, Guadalupe, Lee and Williamson</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Border Region Behavioral Health Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-643-1102</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Jim Hogg, Starr, Webb and Zapata</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Burke Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-392-8343</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Angelina, Houston, Jasper, Nacogdoches, Newton, Polk, Sabine, San Augustine, San Jacinto, Shelby, Trinity and Tyler</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Camino Real Community Services</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-543-5750</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Atascosa, Dimmit, Frio, La Salle, Karnes, Maverick, McMullen, Wilson and Zavala</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">The Center for Health Care Services</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-316-9241 or 210-223-7233</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bexar</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Center for Life Resources</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-458-7788</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Brown, Coleman, Comanche, Eastland, McCulloch, Mills and San Saba</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Central Counties Services</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-888-4036</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bell, Coryell, Hamilton, Lampasas and Milam</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Central Plains Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-687-1300</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bailey, Briscoe, Castro, Floyd, Hale, Lamb, Motley, Parmer and Swisher</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Coastal Plains Community Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-841-6467</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Aransas, Bee, Brooks, Duval, Jim Wells, Kenedy, Kleberg, Live Oak and San Patricio</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Community Healthcore</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-832-1009</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bowie, Cass, Gregg, Harrison, Marion, Panola, Red River, Rusk and Upshur</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Denton County MHMR Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-762-0157</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Denton</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Emergence Health Network</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-562-6467</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">El Paso</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Gulf Bend Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-723-3422</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Calhoun, DeWitt, Goliad, Jackson, Lavaca, Refugio and Victoria</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Gulf Coast Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">866-729-3848</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Brazoria and Galveston</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Heart of Texas Region MHMR Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">866-752-3451 or 254-776-1101</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bosque, Falls, Freestone, Hill, Limestone and McLennan</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Helen Farabee Centers</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-621-8504</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Archer, Baylor, Childress, Clay, Cottle, Dickens, Foard, Hardeman, Haskell, Jack, King, Knox, Montague, Stonewall, Throckmorton, Wichita, Wilbarger, Wise and Young</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Hill Country Mental Health &amp; Developmental Disabilities Centers</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-466-0660</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Bandera, Blanco, Comal, Edwards, Gillespie, Hays, Kendall, Kerr, Kimble, Kinney, Llano, Mason, Medina, Menard, Real, Schleicher, Sutton, Uvalde and Val Verde</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Lakes Regional MHMR Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-466-0660</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Camp, Delta, Franklin, Hopkins, Lamar, Morris and Titus</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">LifePath Systems</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-422-5939</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Collin</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">MHMR Authority of Brazos Valley</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">888-522-8262</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Brazos, Burleson, Grimes, Leon, Madison, Robertson and Washington</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">MHMR of Tarrant County</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-866-2465</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Tarrant</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">MHMR Services for the Concho Valley</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-375-8965</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Coke, Concho, Crockett, Irion, Reagan, Sterling and Tom Green</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">North Texas Behavioral Health Authority</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">866-260-8000</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Dallas, Ellis, Hunt, Kaufman, Navarro and Rockwall</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Nueces Center for Mental Health &amp; Intellectual Disabilities</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">888-767-4493</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Nueces</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Pecan Valley Centers for Behavioral &amp; Developmental HealthCare</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-772-5987</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Erath, Hood, Johnson, Palo Pinto, Parker and Somervell</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Permian Basin Community Centers for MHMR</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-542-4005 or 877-475-7322</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Brewster, Culberson, Ector, Hudspeth, Jeff Davis, Midland, Pecos and Presidio</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Spindletop Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-937-8097</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Chambers, Hardin, Jefferson and Orange</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">StarCare Specialty Health System</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">806-740-1414 or 800-687-7581</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Cochran, Crosby, Hockley, Lubbock and Lynn</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Texana Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-633-5686</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Austin, Colorado, Fort Bend, Matagorda, Waller and Wharton</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Texas Panhandle Centers</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-692-4039 or 806-359-6699</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Armstrong, Carson, Collingsworth, Dallam, Deaf Smith, Donley, Gray, Hall, Hansford, Hartley, Hemphill, Hutchinson, Lipscomb, Moore, Ochiltree, Oldham, Potter, Randall, Roberts, Sherman and Wheeler</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Texoma Community Center</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-277-2226</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Cooke, Fannin and Grayson</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">The Harris Center for Mental Health and IDD</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">866-970-4770</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Harris</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Tri-County Services</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-659-6994</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Liberty, Montgomery and Walker</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">Tropical Texas Behavioral Health</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">877-289-7199</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Cameron, Hidalgo and Willacy</span></td>
		</tr><tr><td><b class="tablesaw-cell-label">LMHA Name</b> <span class="tablesaw-cell-content">West Texas Centers</span></td>
			<td nowrap=""><b class="tablesaw-cell-label">Crisis Number</b> <span class="tablesaw-cell-content">800-375-4357</span></td>
			<td><b class="tablesaw-cell-label">Counties Served</b> <span class="tablesaw-cell-content">Andrews, Borden, Crane, Dawson, Fisher, Gaines, Garza, Glasscock, Howard, Kent, Loving, Martin, Mitchell, Nolan, Reeves, Runnels, Scurry, Terrell, Terry, Upton, Ward, Winkler and Yoakum</span></td>
		</tr></tbody></table>

{% endblock content %}